@mixin hero() {
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-bottom: 14.5rem;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    &:before {
        transform: scale(0.35);
        transform-origin: center center;
        width: 72.4rem;
        height: 50.2rem;
        left: -30.2rem;
        top: -13.6rem;
        background-image: url(/assets/hero_graphic-2.png);
    }

    &:after {
        height: 22.75rem;
        width: 12.5rem;
        left: 56.5rem;
        top: 1rem;
        background-image: url(/assets/hero_graphic.png);
    }
}

@mixin hero_container() {
    margin-top: 0.6rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    position: relative;
    height: 100vh;
    left: 5rem;
}

.hero {
    @include hero();

    .hero_article {
        position: relative;
        top: 5.9rem;
        display: flex;
        text-align: start;
        flex-direction: column;
    }

    .hero_header {
        text-align: center;

        h1 {
            color: $primary-color;
        }

        p {
            width: 45%;
            line-height: 1.3;
            font-size: 0.83rem;
            margin: auto;
            margin-bottom: 1rem;
        }

        .btn {
            margin: auto
        }
    }
}

.hero_container {
    @include hero_container();
}