@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

$primary-color: #2C0085;
$primary-color-light: rgba($primary-color, 0.05);
$secondary-color: #FF8001;
$secondary-color-light: rgba($secondary-color, 0.04);
$grey-color: #433C3C;
$grey-color-light: #625D5D;
$grey-color-lighter: #758FA4;
$grey-color-2: #657E93;
$background-color: #C4C4C4;
$white-color: #ffffff;
$shadow-color: #D2D5EB;
$btn-bold_text: #3D4C59;