* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    color: $grey-color-light;
    background-color: $white-color;
    overflow-x: hidden;
}

.container {
    width: 81%;
    margin: 0 auto;
}

header {
    display: grid;
    place-items: center;
}

section {
    text-align: center;
}

.section_header {
    margin-bottom: 1.6rem;

    h2 {
        margin-bottom: 0.6rem;
        font-weight: 500;
    }
}

article {
    border-radius: 10px;
}

h1, h2, h3 {
    color: $grey-color;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0.7rem;
    line-height: 1.5;
}

h2 {
    font-weight: 500;
}

p {
    
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.4;
    font-size: 0.87rem;
}

a {
    color: $grey-color;
}

img {
    display: block;
    width: 100%;
}

h2 {
    font-size: 1.7rem;
}
