* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    color: $grey-color-light;
    background-color: $white-color;
    // user-select: none;
    margin-bottom: 25rem;
    overflow-x: hidden;
}

.container {
    width: 81%;
    margin: 0 auto;
}

section {
    text-align: center;
}

.section_header {
    h2 {
        margin-bottom: 1.6rem;
        font-weight: 500;
    }
}

article {
    border-radius: 10px;
}

h1, h2, h3 {
    color: $grey-color;
}

h2 {
    font-weight: 500;
}

p {
    
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.4;
    font-size: 0.87rem;
}

a {
    color: $grey-color;
}

img {
    display: block;
    width: 100%;
}

.btn {
    @include button();
}

.btn-primary {
    @include button($primary-color, $white-color);
    border: 1px solid $primary-color;
    padding: 0.3rem 2.9rem;
} 

h2 {
    font-size: 1.7rem;
}
