@mixin button($textColor: $secondary-color, $backgroundColor: $secondary-color-light) {
    display: inline-block;
    width: max-content;
    padding: 0.4rem 2rem;
    line-height: 2.5;
    border-radius: 1.5rem;
    font-size: 0.688rem;
    background: $backgroundColor;
    color: $textColor;
    cursor: pointer;
    transition: all 400ms ease;

    &:hover {
        background: darken($backgroundColor, 8%);
        box-shadow: 0 1rem 1.6rem rgba($grey-color, $alpha: 0.2);
    }
} 