.individuals_hero {
    .hero {
        margin-bottom: 0;

        &:before {
            top: -7.2rem;
            left: -21.2rem;
        }

        .hero_article {
            top: 0.9rem;
            margin-top: 5rem;

            h1 {
                font-size: 2.1rem;
            }

            .hero-h1 {
                color: $white-color;
            }
        }
    }
}

.individual_section {
    margin-top: 7rem;

    .section_content {
        margin: 5rem auto;
        grid-template-columns: 55% 45%;

        &:before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            height: 22.75rem;
            width: 11rem;
            left: -3.5rem;
            top: 6.8rem;
            background-image: url(/assets/hero_graphic.png);
        }

        .section_article {
            margin-left: 1rem;

            p {
                width: 80%;
                margin-bottom: 1rem;
            }

            ul {
                li {
                    display: flex;
                    align-items: center;
                }

                i {
                    color: $primary-color;
                    vertical-align: middle;
                    margin-right: 1rem;
                }

                p {
                    display: inline;
                    vertical-align: middle;
                    margin-top: 1rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}



.partnership_container {
    margin-top: 8rem;
}